html{
  height: 100%;
}

body{
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-flow: column;
}

.jumbotron{
  background: #7c98b3;
  text-align: center;
}

.jumbotron > h1{
  font-family: "URW Chancery L";
}

#corps{
  flex: 1 1 auto;
  background-color: #cee5f2;
}

nav{
  align-items: center;
  display: flex;
  flex-flow: row;
}

section{
}

.card{
  background: #accbe1;
}

.img-container{
  height: 10em;
}

.card-img-top{
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

.card-title{
  overflow-x: auto;
  white-space: nowrap;
}

#desc{
  overflow-y: auto;
  height: 8em;
}

.jumbotron, #corps, footer{
  border-radius: 10px;
  padding: 0px;
}

footer{
  background: #7c98b3;
  color: white;
  text-align: center;
}
